/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em; /* Tạo khoảng cách giửa các thẻ li */
  padding: .3em 0;  /* Tạo khoảng cách nội dung bên trong thẻ li */
  height: 1.6em;  /* Tăng chiều cao thẻ li*/
  border-radius: 4px;
}

.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.heroes .text {
  position: relative;
  top: -3px;
}
.heroes li.selected:hover {
  background-color: #607d8b !important;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small; /* cho text trong span nhỏ lại, ở đây là id*/
  color: white;
  padding: 0.8em 0.7em 0 0.7em; /* top, right, bottom and left, tạo khoảng cách giữa id và name trong thẻ li, với id trong thẻ span */
  background-color: #607d88;  /* set mau cho the span */
  /* phủ màu background full với background thẻ li */
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  /* tạo khoảng cách về bên phải từ span id với name*/
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
